body {
    background-color: #F79750;
} 

#menu {
   position: absolute;
}

#menu li {
   float: left;
   list-style-type: none;
   padding-right: 200px;
   width: 100px;
   background-color: #DCBD53;
}

#menu li ul {
   background-color: #DCBD53;
   margin: 0px;
   padding: 0px;
}

#menu li ul li {
   padding: 0px;
   margin: 0px;
   float: none;
   list-style-type: none;
   width: 80px;
}
#tablahatter
	{
		background-color:#FA5934;
		#BACDFF
		border-radius:;
	}